.App {
  text-align: center;
}
.hidden {
  display: none;
}

.controlMenu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: transparent;
  margin-top: 0.5rem;
  margin-right: 1rem;
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.controlMenu::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.controlMenu {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.controlMenu fieldset {
  margin-bottom: 0.5rem;
}
.controlMenuClose {
  display: none;
}
.controlMenuIcon {
  display: none;
}
@media (max-width: 992px) {
  .controlMenu {
    backdrop-filter: blur(0.4rem);
    padding: 1rem;
    margin-right: 0.5rem;
  }
  .controlMenuClose {
    border: none;
    font-size: 1.2rem;
    display: initial;
    float: right;
    margin-top: 1rem;
    background-color: transparent;
    color: white;
    text-decoration: underline;
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  .controlMenuClose:hover {
    cursor: pointer;
  }
  .controlMenuClose img {
    display: inline-block;
    width: 1rem;
    margin-right: 0.3rem;
    margin-bottom: -0.2rem;
  }
  .controlMenuIcon {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-right: 1rem;
    width: 2rem;
    display: initial;
  }
  .controlMenuIcon:hover {
    cursor: pointer;
  }
}

.modelSelect {
  font-size: 1.2rem;
}

.displayOptions div,
.modelActions div {
  display: flex;
  align-items: baseline;
  column-gap: 1rem;
  margin-bottom: 0.5rem;
}
.displayOptions input,
.modelActions input {
  transform: scale(1.5);
}
.displayOptions label,
.modelActions label {
  flex: 1;
}

.displayOptions span,
.modelActions span {
  color: #7c7c7c;
  font-size: 1rem;
}

.shortcutsTip {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #7c7c7c;
  font-size: 1rem;
}
.shortcutsTip span {
  border: 1px solid #7c7c7c;
  border-radius: 0.3rem;
  padding: 0 0.5rem 0.2rem;
}

.githubIconLink {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
  opacity: 0.4;
}
.githubIconLink:hover {
  opacity: 1;
}
.githubIconLink img {
  width: 2rem;
}
@media (max-width: 768px) {
  .githubIconLink img {
    width: 1.5rem;
  }
}
