.introPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introContent {
  padding: 2.5rem 5rem;
  border: 1px solid white;
  margin: 0.5rem;
  max-width: 40rem;
}

.controlsList {
  list-style: none;
  padding: 0;
}

.controlsList li::before {
  content: '\2022';
  margin-right: 0.5rem;
}
